:root {
  --primary: #0f2841;
  --secondary: #cfd4da;
  --accent: #dad0da;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary-foreground: 0 0% 98%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}

/* Reset default margins and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for body */
body {
  color: #333;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px; /* Adjust based on navbar height to prevent overlap */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body stretches full height */
}

/* Additional container styles */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Full page height */
  padding: 2rem 1rem; /* Add spacing to main container */
  margin-top: 0; /* Ensure no extra margin */
}

/* Move content to the left */
.content-container {
  margin-left: 3rem; /* Adjust the left margin here */
}

/* Footer style */
footer {
  margin-top: auto; /* Push footer to the bottom */
  text-align: center;
  padding: 1rem 0;
}


/* Add Tailwind's utility layer for custom classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
