.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 5%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 60px;
}

/* Style logo text */
.logo {
    font-size: 24px;
    color: #0F2841;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    margin-right: auto;
}

/* Add a hover effect to the logo */
.logo:hover {
    color: #1e538c;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar a {
    position: relative; /* For hover underline */
    font-size: 18px;
    color: grey;
    font-weight: 500;
    margin-left: 40px; /* Spacing between links */
}

/* Add animated underline on hover */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #0F2841;
    transition: .3s;
}

/* Show underline on hover */
.navbar a:hover::before {
    width: 100%;
}

/* Style the Get SummarAIze navbar button for Chrome Webstore Redirect */
.navbar button {
    background-color: #0F2841;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0px; 
}

/* Transparency on hover for Get SummarAIze button */
.navbar button:hover {
    opacity: 0.9;
}